# Copy this file into a new file called ".env" in the root of the project.
# The dotenv gem will load the contents of .env into the environment when
# Rails starts. Access values like this: ENV["RAILS_SECRET_KEY_BASE"]
#
# The purpose of this file is to keep secrets out of source control.
# For more information, see: https://github.com/bkeepers/dotenv

SECRET_KEY_BASE=b840ed4f8e6ae00cff611999ae26093a91bfdc7e3d070f9576aa78f8047af854221e021290c753d71dbfd3ed0d58c69123eae2a590ac1c062e30a17b697d93a3
REDIS_URL=redis://localhost:6379/8
SIDEKIQ_WEB_USERNAME=admin
SIDEKIQ_WEB_PASSWORD=password
